.bgSection {
  background-image: url("https://script.viserlab.com/hyiplab/demo/assets/images/frontend/login/631ca0dc080a31662820572.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginSection,
.RegisterSection {
  padding: 50px 30px;
  background-image: url("https://script.viserlab.com/hyiplab/demo/assets/images/frontend/login/631ca0dc2ed1a1662820572.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid hsla(40, 54%, 56%, 0.7);
  box-shadow: 0 3px 18px hsl(40, 54%, 56%, 0.5);
  width: 30%;
}
@media (min-width: 992px) {
  .loginSection,
  .loginSection2 {
    width: 58.3333%;
  }
}

@media (min-width: 1200px) {
  .loginSection,
  .loginSection2 {
    width: 40%;
  }
  .RegisterSection,
  .RegisterSection2 {
    width: 58.3333%;
  }
}
.sectionTitle span {
  color: hsla(40, 54%, 56%, 1);
}
.sectionHead {
  color: white;
}
.sectionTitle {
  font-size: 44px;
}
.details {
  font-size: 15px;
  margin-top: 10px;
}
.loginLinks {
  display: flex;
  flex-direction: column;
}
.loginButtons {
  background-color: hsla(40, 54%, 56%, 1);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  margin: 8px 0px;
  padding: 12px 35px;
  border-radius: 5px;
}
.loginButtons:hover {
  background-color: hsl(40, 54%, 46%);
}
.loginButtons img {
  height: 25px;
}
.shade {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}
.loginContent {
  position: relative;
  z-index: 2;
}
.loginSection2,
.RegisterSection2 {
  background-color: black;
  z-index: 1;
  color: white;
  padding: 30px;
}
.RegisterSection2,
.loginSection2 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 3px 18px hsl(40, 54%, 56%, 0.5);
}
.FormInput {
  padding: 10px 20px;
  background-color: #22222e;
  border: 1px solid hsla(40, 54%, 56%, 1);
  border-radius: 4px;
}
.FormEvents {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.FormLabel {
  margin-bottom: 8px;
  font-size: 14px;
}
.rememberMe {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
.link {
  color: #0d6efd;
}
.link:hover {
  color: hsla(40, 54%, 56%, 1);
}
