.pricecard {
  box-shadow: 0px 0px 10px hsl(40, 54%, 56%, 1);
  border: 2px solid hsl(40, 54%, 56%, 1);
}
.pricecard:hover {
  transform: translateY(-4px);
}
.cusShadowOnHover {
  transition: all 0.5s ease;
}
.cusShadowOnHover:hover {
  box-shadow: 0px 0px 10px hsl(40, 54%, 56%, 1);
  transform: translateY(-4px);
  background-color: hsl(40, 54%, 56%, 1);
}
.cusTransaction {
  box-shadow: 0px 5px 5px hsl(40, 54%, 56%, 0.25);
}
.cusShadow {
  box-shadow: 0 3px 15px hsl(40, 54%, 56%, 0.5);
}
